// Aquí también irían los resets de margin y padding que aplica bootstrap por defecto
body {
    height: 100vh;
    background-image: url("../../images/circle-scatter-haikei.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}