@use '../utilities/variables';
@use '../utilities/mixins';

.ul__no-style {
    list-style: none;
}

.btn-formulario__width {
    width: 40%;
    min-width: fit-content;
}

.form__card {
    background-color: map-get(variables.$components-colors, "form-card-color");
    border-radius: 1.8rem;
}

.mapa {
    border-radius: 1rem;
}

.responsive-iframe {
    @include mixins.sizes(100%, 90%);
}